<div class="header">
    <img src="../../../assets/images/logo.png" alt="">
</div>
<div class="d-flex">
    <div class="back">
        <h4 class="textChange">
            <a [routerLink]="['/taglineReport']" [routerLinkActive]="['isActive']">Daily Updates</a>
        </h4>
    </div>
    <div class="vr">
    </div>
    <div class="back2">
        <h4 class="textChange">
            <a [routerLink]="['/taglineLeaveReport']" [routerLinkActive]="['isActive']">Request For
                Leave</a>
        </h4>
    </div>
</div>